<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <style>     
    .home-ic a{
    background-color: white;
    color: black;
    }
    </style>
</head>
<body>

    {{>header}}
    <div class="main">
        <div class="login card"><div class="side-scroll" id="side-log"><p>Have an account already?<br>Use the face recognition feature to login.</p><a href="login">LOGIN</a></div><img src="static/images/login.png" alt=""><p>Already Registered.</p></div>
        <div class="register card"><div class="side-scroll" id="side-reg"><p>Use your face as a key to register and secure your account with upto 3 levels of security.</p><a href="register">REGISTER</a></div><img src="static/images/register.png" alt=""><p>Don't have an account.</p></div>
    </div>
    {{>footer}}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
    const cross=document.getElementById("cross");
    const ham=document.getElementById("ham");
    const menu=document.getElementById("hamburg-menu");
    ham.addEventListener("click",()=>{
        menu.style.display="initial";
        ham.style.display="none";
        cross.style.display="initial";
    });
    cross.addEventListener("click",()=>{
        menu.style.display="none";
        ham.style.display="initial";
        cross.style.display="none";
    });
</script>
</body>
</html>  