<div class="footer">
    <div class="copyright">Copyright &copy2022: Developed by @Aryan_Raj</div>
        <div class="contact-icons-cont">
            <a href="https://www.linkedin.com/in/aryan-raj-429b2321b/" target="_blank" class="contact-icons-anch">
            <ion-icon name="logo-linkedin" class="contact-icons"></ion-icon></a>
            <a href="https://github.com/Aryan-9272?tab=repositories" target="_blank" class="contact-icons-anch">
            <ion-icon name="logo-github" class="contact-icons"></ion-icon></a>
            <a href="mailto: aryanrajofficial92@gmail.com" target="_blank" class="contact-icons-anch">
            <ion-icon name="mail" class="contact-icons"></ion-icon></a>
            <a href="https://youtu.be/CuF5Ppp3npI" target="_blank" class="contact-icons-anch">
            <ion-icon name="logo-youtube" class="contact-icons"></ion-icon></a>           
        </div>
</div>
