    <div class="head-container">
        <img src="static/images/download.png" alt="image">
        <div class="name">FARECO</div>
        <div class="nav-icons">
            <ul>
                <li class="list home-ic"><a href="/">HOME</a></li>
                <li class="list login-ic"><a href="login">LOGIN</a></li>
                <li class="list register-ic"><a href="register">REGISTER</a></li>
                <li class="list about-ic"><a href="about">ABOUT</a></li>
            </ul>
        </div> 
        <div class="ham-cont">
            <ion-icon name="grid-outline" class="hamburg" id="ham"></ion-icon>
            <ion-icon name="close-circle-outline" class="hamburg" id="cross"></ion-icon>
            <div id="hamburg-menu">
                    <ul>
                        <li class="ham-icons home-ic"><a href="/">HOME</a></li>
                        <li class="ham-icons login-ic"><a href="login">LOGIN</a></li>
                        <li class="ham-icons register-ic"><a href="register">REGISTER</a></li>
                        <li class="ham-icons about-ic"><a href="about">ABOUT</a></li>
                    </ul>
            </div>
        </div>
    </div>
